{% extends 'layout.html' %}

{% block title %}{% parent %} - Dashboard{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/css/dist/profile.css">
{% endblock head %}

{% block content %}
{% parent %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
			<!-- Profile -->
			<div class="well profile">
				<img src="{{user.profilePictureUrl}}" class="profile img-rounded" />
				<h1 class="profile">Welcome to {{user.name.firstName}}'s Workshop</h1>
				<h2 class="profile">Profession:</h2>
				<p class="profile">{{profileOwner.profession}}</p>
				<h2 class="profile">Bio:</h2>
				<p class="profile">{{profileOwner.bio}}</p>
			</div>

<div class="container" id="profilePicture">
    <img src="{{user.profilePictureUrl}}" class="img-rounded" id="profilePictureUrl" width=100 height=100></img>
</div>
<!-- SUMMARY OF USER INFORMATION -->
<div class="container" style="display: block" id="userSummary">
    {% if user.name.firstName %}
    <h1>Welcome to Workshop, {{user.name.firstName}}!</h1>
    {% else %}
    <h1>Welcome to Workshop! To start off, click 'Edit' to add your name.</h1>
    {% endif %}
    {% if user.auth.local.email %}
        <h3>Email: {{user.auth.local.email}}</h3>
    {% endif %}
    {% if user.auth.facebook.id %}
        <h3>Facebook Id: {{user.auth.facebook.id}}</h3>
    {% endif %}
    {% if user.auth.facebook.name %}
        <h3>Facebook Name: {{user.auth.facebook.name}}</h3>
    {% endif %}
    {% if user.auth.facebook.email %}
        <h3>Facebook Email: {{user.auth.facebook.email}}</h3>
    {% endif %}
    <h3>Profession: {{user.profession}}</h3>
    <h3>Biography: {{user.bio}}</h3>
    <button type="button" class="btn btn-default" id="editButton" onclick="showEditForm()">Edit</button><br>
</div><br>
<!-- HIDDEN EDIT FORM -->
<div class="container" style="display: none" id="editForm">
	<div class="row">
        <form class="form-inline update-form well" role="form" action="/api/user/update" method="post" enctype="multipart/form-data">
            <!-- UPLOAD PROFILE PICTURE -->
            <input type="file" id="inputFile" name="file"><br>
            <!-- ADD FIRST NAME -->
            First Name: <input type="text" placeholder="{{user.name.firstName}}" class="form-control" name="firstName">
            <!-- ADD LAST NAME -->
            Last Name: <input type="text" placeholder="{{user.name.lastName}}" class="form-control" name="lastName">
            <!-- ADD PROFESSION -->
            Profession: <input type="text" placeholder="{{user.profession}}" class="form-control" name="profession">
            <!-- ADD BIO -->
            Biography: <input type="text" placeholder="{{user.bio}}" class="form-control" name="bio"><br>
            <div class="status_messages" style="display: none">
				<p class="bg-success">Updating...Your profile will be ready soon!</p>
			</div>
            <button type="submit" class="btn btn-success update-user">Update</button>
        </form>
        <button type="button" class="btn btn-default" id="dashboardBackButton" onclick="showUserSummary()">Back</button>
	</div><!-- .row -->
</div><br><!-- .container -->

<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
<a href="/feed" class="btn btn-default">Feed</a>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
