{% extends 'layout.html' %}

{% block title %}{% parent %} - Dashboard{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/css/dist/dashboard.css">
{% endblock head %}

{% block content %}
{% parent %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 centered">
            <div class="well dashboard" id="userSummary">
                <img src="{{user.profilePictureUrl}}" class="img-rounded" id="profilePictureUrl" width=100 />
                <!-- SUMMARY OF USER INFORMATION -->
                {% if user.name.firstName %}
                <h1>Welcome to Workshop, {{user.name.firstName}}!</h1>
                {% else %}
                <h1>Welcome to Workshop! To start off, click 'Edit' to add your name.</h1>
                {% endif %}
                {% if user.auth.local.email %}
                <h3>Email: <small>{{user.auth.local.email}}</small></h3>
                {% endif %}
                {% if user.auth.facebook.id %}
                <h3>Facebook Id: <small>{{user.auth.facebook.id}}</small></h3>
                {% endif %}
                {% if user.auth.facebook.name %}
                <h3>Facebook Name: <small>{{user.auth.facebook.name}}</small></h3>
                {% endif %}
                {% if user.auth.facebook.email %}
                <h3>Facebook Email: <small>{{user.auth.facebook.email}}</small></h3>
                {% endif %}
                <h3>Profession: <small>{{user.profession}}</small></h3>
                <h3>Biography: <small>{{user.bio}}</small></h3>
                <button type="button" class="btn btn-default" id="editButton" onclick="showEditForm()">Edit</button>
            </div><!-- .container.dashboard -->
            <!-- HIDDEN EDIT FORM -->
            <div class="well dashboard" style="display: none" id="editForm">
                    <form class="form-inline update-form" role="form" enctype="multipart/form-data">
                        <img src="{{user.profilePictureUrl}}" class="img-rounded" id="profilePictureUrl" width=100 />
                        <!-- UPLOAD PROFILE PICTURE -->
                        <input type="file" id="inputFile" name="file"><br>
                        <!-- ADD FIRST NAME -->
                        First Name: <input type="text" placeholder="{{user.name.firstName}}" class="form-control" name="firstName">
                        <br />
                        <!-- ADD LAST NAME -->
                        Last Name: <input type="text" placeholder="{{user.name.lastName}}" class="form-control" name="lastName">
                        <br />
                        <!-- ADD PROFESSION -->
                        Profession: <input type="text" placeholder="{{user.profession}}" class="form-control" name="profession">
                        <br />
                        <!-- ADD BIO -->
                        Biography: <input type="text" placeholder="{{user.bio}}" class="form-control" name="bio">
                        <br />
                        <div class="status_messages" style="display: none">
            				<p class="bg-success">Updating...Your profile will be ready soon!</p>
            			</div>
                        <button type="submit" class="btn btn-success update-user">Update</button>
                        <button type="button" class="btn btn-default" id="dashboardBackButton" onclick="showUserSummary()">Cancel</button>
                    </form>
            </div><!-- .container -->
        </div><!-- .col-xs-12 -->
    </div><!-- .row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="centered" style="width:210px">
                <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
                <a href="/feed" class="btn btn-default">Feed</a>
                <a href="/{{user_id}}" class="btn btn-default">Profile</a>
            </div>
        </div><!-- .col-xs-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
