{% extends 'layout.html' %}

{% block title %}{% parent %} - Feed{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
{% parent %}
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#form-file-input {
	display: none;
}
#caption {
	display: inline;
	width: 80%;
	float: right;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-xs-12 col-md-6">
			<!-- UPLOAD FORM -->
			<form class="form-inline" role="form" action="/api/post" method="post" enctype="multipart/form-data">
				<span class="btn btn-default btn-file">Upload<input type="file"></span>
				<input type="text" placeholder="Caption" class="form-control" id="caption">
			</form>
			<!-- FEED -->
		</div>
		<div class="col-md-3"></div>
	</div><!-- .row -->
</div><!-- .container -->
{% endblock %}

{% block scripts %}
	{% parent %}
{% endblock %}