{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
{% endblock head %}

{% block content %}
    {% parent %}

<!-- Header Section -->
<div class="img1">   
  <!--Log in form -->
{% if (errorMessage.length > 0) %}
    <h1>{{errorMessage}}</h1>
{% endif %}
    <div class="container">
      <div class="row">
        <div class="homepage-header">Showcase & Discover Creative Work</div>
        {% if isUserLoggedOut %}
        <div class="col-md-6 login col-md-offset-3">
            <!-- login form -->
            <form action="/login" method="post" class="login-form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-warning btn-md text-center">Login</button>
            </form>   
            <div class="form-footer">
              <hr>
              <p>Feeling lazy? Login or Register with:</p>
              <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
              
              <hr>    
              <p>Need an account? <a href="/signup">Signup here</a></p>
            </div>
          </div>
          {% endif %}
    </div>
    </div> 
</div> 


<!-- Mid Navbar -->
<nav class="navbar navbar-default">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Creative Fields <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
        </li>
        
        <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Worldwide <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
        </li>
        
        <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Featured <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
        </li>
    </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav> 


<!-- Grid System -->
<div class="container">
  {% for post in posts %}
  <div class="row">
    <div class="col-md-12">
      <!-- FEED -->
      <div class="post-feed-container">				
        <div class="post-container">
          <img src="{{ post.imageUrl }}" class="post"></img>
          <h1 class="post-caption text-center">{{ post.caption }}</h1>
        </div>				
      </div>
    </div>
  </div><!-- .row -->
  {% endfor %}
</div>

{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
