<!DOCTYPE html>
<html html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}WorkShop, INC.{% endblock %}</title>
		{% block head %}
		<link rel="" type="image/x-icon" href="" />
		{% if env == 'development' %}
		<link rel="stylesheet" href="/vendor/css/src/bootstrap.css" />
        <link rel="stylesheet" href="/vendor/css/src/jquery-ui.min.css" />
		<link rel="stylesheet" href="/css/dist/source.css" />
		{% else %}
		<link rel="stylesheet" href="/vendor/css/dist/bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/css/src/jquery-ui.min.css" />
		<link rel="stylesheet" href="/css/dist/main.min.css" />
		{% endif %}
		{% endblock head %}
	</head>
    <body>
        {% block content %}
        {% include "./components/navbar.html" %}
        {% endblock content %}
        <!-- Footer -->
            <hr size="2px" />
            <footer class="page-footer">
                <ul> 
                    <li>
                        <a href="#">Tour</a>
                    </li> 
                    <li>
                        <a href="#">Pricing</a>
                    </li> 
                    <li>
                        <a href="#">Apps</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">API</a>
                    </li> 
                    <li>
                        <a href="#">About</a>
                    </li> 
                    <li>
                        <a href="#">Help</a>
                    </li> 
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                </ul> 
                <p class="copyright-text"> © Copyright 2015, WorkShop, Inc. All rights reserved. </p>   
            </footer>
    	{% block scripts %}
		{% if env == 'development' %}
		<script src="/vendor/js/dist/jquery-1.11.3.min.js"></script>
		<script src="/vendor/js/dist/bootstrap.min.js"></script>
        <script src="/vendor/js/src/jquery-ui.min.js"></script>
		<script src="/js/dist/source.js"></script>
		{% else %}
		<script src="/vendor/js/src/jquery-1.11.3.js"></script>
		<script src="/vendor/js/src/bootstrap.js"></script>
        <script src="/vendor/js/src/jquery-ui.min.js"></script>
		<script src="/js/dist/main.min.js"></script>
		{% endif %}
      	{% endblock scripts %}
    </body>
</html>