<!DOCTYPE html>
<html html lang="en-us">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}WorkShop, INC.{% endblock %}</title>

        {% block head %}
        <link rel="" type="image/x-icon" href="" />
				
				{% if dev %}
				<!-- List of individually compiled css files -->
				<link rel="stylesheet" href="/public/css/dist/style_1.css" />
				<link rel="stylesheet" href="/public/css/dist/style_2.css" />
				{% else %}
				<!-- Single compiled & minified css file -->
        <link rel="stylesheet" href="/public/css/dist/main.min.css" />
				{% endif %}
        {% endblock head %}
    </head>

    <body>
        {% block content %}
        <h1>Welcome to WorkShop</h1>
        {% endblock content %}
        
        {% block scripts %}
				{% if dev %}
				<script src="/public/js/dist/script_1.js"></script>
				<script src="/public/js/dist/script_2.js"></script>
				{% else %}
				<script src="/public/js/dist/main.min.js"></script>
        {% endblock scripts %}
    </body>
</html>