<!DOCTYPE html>
<html html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}WorkShop, INC.{% endblock %}</title>
		{% block head %}
		<link rel="" type="image/x-icon" href="" />
		{% if env == 'development' %}
		<link rel="stylesheet" href="/vendor/css/src/bootstrap.css" />
        <link rel="stylesheet" href="/vendor/css/src/jquery-ui.min.css" />
		<link rel="stylesheet" href="/css/dist/source.css" />
		{% else %}
		<link rel="stylesheet" href="/vendor/css/dist/bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/css/src/jquery-ui.min.css" />
		<link rel="stylesheet" href="/css/dist/main.min.css" />
		{% endif %}
		{% endblock head %}
	</head>
    <body>
        {% block content %}
        <nav class="navbar navbar-default" style="background-color: #000000">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><p align="center" style ="font-family: Fantasy; color:#00b7be"><span style="color:white">Work</span>Shop</p></a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                            <input type="text" class="form-control" id="project" placeholder="Search">
                            </div>
                        </form>
                </li>
                    {% if isUserLoggedIn %}
                    <li><a href="/dashboard" style="color: #e0e0e0">Dashboard</a></li>
                    <li><a href="/logout" style="color: #e0e0e0">Log-out</a></li>
                    {% else %}
                    {% endif %}
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>
        {% endblock content %}
        <!-- Footer -->
            <hr size="2px" />
            <footer class="page-footer">
                <ul> 
                    <li>
                        <a href="#">Tour</a>
                    </li> 
                    <li>
                        <a href="#">Pricing</a>
                    </li> 
                    <li>
                        <a href="#">Apps</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">API</a>
                    </li> 
                    <li>
                        <a href="#">About</a>
                    </li> 
                    <li>
                        <a href="#">Help</a>
                    </li> 
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                </ul> 
                <p class="copyright-text"> © Copyright 2015, WorkShop, Inc. All rights reserved. </p>   
            </footer>
    	{% block scripts %}
		{% if env == 'development' %}
		<script src="/vendor/js/dist/jquery-1.11.3.min.js"></script>
		<script src="/vendor/js/dist/bootstrap.min.js"></script>
        <script src="/vendor/js/src/jquery-ui.min.js"></script>
		<script src="/js/dist/source.js"></script>
		{% else %}
		<script src="/vendor/js/src/jquery-1.11.3.js"></script>
		<script src="/vendor/js/src/bootstrap.js"></script>
        <script src="/vendor/js/src/jquery-ui.min.js"></script>
		<script src="/js/dist/main.min.js"></script>
		{% endif %}
      	{% endblock scripts %}
    </body>
</html>