{% extends 'layout.html' %}

{% block title %}{{profileOwner.name.firstName}}'s Profile{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/css/dist/profile.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'>
{% endblock head %}

{% block content %}
{% parent %}
<div class="container">
    <div class="row" style="height: 20px; margin-top: 20px">
        <div class="col-xs-12"></div>
    </div>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<!-- Profile -->
			<div class="well profile">
				<img src="{{profileOwner.profilePictureUrl}}" class="profile img-rounded" />
				<h1 class="profile">Welcome to {{profileOwner.name.firstName}}'s Workshop</h1>
				<h2 class="profile">Profession:</h2>
				<p class="profile">{{profileOwner.profession}}</p>
				<h2 class="profile">Bio:</h2>
				<p class="profile">{{profileOwner.bio}}</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-9">
			<!-- Feed -->
			<div class="well post-feed-container">
				{% for post in posts %}
				<div class="post-container">
					<img src="{{ post.imageUrl }}" class="post img-rounded"></img>
					<h1 class="post-caption">{{ post.caption }}</h1>
				</div>
				{% endfor %}
			</div>
		</div>
	</div><!-- .row -->
</div><!-- .container -->
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
