{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/css/dist/signup.css" /> 
{% endblock head %}

{% block content %}
{% parent %}
    {% if (errorMessage.length > 0) %}
        <h1>{{errorMessage}}</h1>
    {% endif %}
<div class="img2">
  <div class="container">
    <div class="row" style="margin-top: 120px">
    <div class="col-md-6 signup col-md-offset-3">
        <!-- SIGNUP FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <div class="signup-header">Sign-up with <span style="color: #00b7be">Work</span>Shop</div>
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" placeholder="First Name" class="form-control" name="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" class="form-control" name="lastName">
            </div>
                
            <button type="submit" class="btn btn-warning btn-lg">Sign me up!</button>
        </form>
        <div class="form-footer">    
        <hr>
        <p>Already have an account? <a href="/">Login</a></p>
        <p>Click here to sign-up with 
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook</a>
        </p>
        <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
