{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
{% endblock head %}

{% block content %}
{% parent %}
    {% if (errorMessage.length > 0) %}
        <h1>{{errorMessage}}</h1>
    {% endif %}

    <div class="col-md-6">
        <!-- SIGNUP FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" placeholder="First Name" class="form-control" name="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" class="form-control" name="lastName">
            </div>
                
            <button type="submit" class="btn btn-warning btn-lg">Sign me up!</button>
        </form>
    
        <hr>
    
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
