/* Coolors Exported Palette - coolors.co/837c73-e83f6f-2274a5-32936f-ffffff */

$color1: #837c73; //rgba(131, 124, 115, 100)
$color2: #e83f6f; //rgba(232, 63, 111, 100)
$color3: #2274a5; //rgba(34, 116, 165, 100)
$color4: #32936f; //rgba(50, 147, 111, 100)
$color5: #ffffff; //rgba(255, 255, 255, 100)