@import 'colors.scss';

.centered {
    float: none;
    margin: 0 auto;
}
    
.dashboard {
    margin-top: 20px;
    background: white;
    
    form {
        input {
            margin-bottom: 10px;
        }
    }
    
    h3 {
        font-size: 1.5em;
        color: $ws-dark-grey;
    }
}