@import 'colors.scss';


.input-file-container {
  display: inline-block;
}

#inputCaption {
  display: none;
  
}

.submit-to-feed {
  float: right;
}

.post-feed-container {
  background: #fff;
  padding: 1em 2em;
  margin-bottom: 5em;
  border-radius: 10px;
  
  .post-container {    
    &:first-child {
      margin-top: 2em;
    }
  
    &:last-child {
      margin-bottom: 2em;
    }

    img.post {
      width: 100%;
      height: auto;
    }

    h1.post-caption {
      font-size: 1em;
      padding: 1em;
      margin: 0;
      color: $ws-grey;
    }
  }
}

.status_messages {
  display: none;
}
