@import 'colors.scss';
@import 'feed.scss';

.profile {
    background: white;
    border-radius: 10px;
    
  	img.profile {
        padding: 0.5em 0 1em 0;
        width: 100%;
        height: auto;
  	}
  	
  	h1.profile {
        font-size: 2em;
        color: $ws_dark_grey;
        line-height: 1.25em;
        padding-bottom: 0.5em;
        font-family: 'Open Sans';
  	}
  	h2.profile {
        font-size: 1.5em;
        color: $ws_light_grey;
        font-family: 'Open Sans';
  	}
  	p.profile {
        font-size: 1.25em;
        color: $ws_dark_grey;
        padding-bottom: 2em;
        font-family: 'Roboto';
  	}
  
}