@import 'colors.scss';
@import 'footer.scss';

.img2 {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../../images/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: auto;
    background-size: cover; 
    height: 700px;
    p {
        font-family: 'Roboto';
    }
}

.signup-header {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans'; 
    margin: auto; 
    min-width: 220px;
    width: 50%; 
    color: #ffffff;
}

.signup {
  max-width: 450px;
  margin: auto;
  float: none;
}

.navbar:first-child {
    margin-bottom: 0px;
    border-radius: 0px;
    min-height: 0px;
    height: 45px;
}

.navbar-default {
    border-color: transparent;
    min-height: 0px;
    height: 50px;
}

.signup-button {
    height: 30px;
    width: 80px;
    background-color: #00a0a6;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    color: #e0e0e0;
}

.link1:link {
    text-decoration: none;
}